Repository yaningo/circleci-monorepo-with-setup-workflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: app1, app2

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  # https://github.com/CircleCI-Public/api-preview-docs/blob/path-filtering/docs/path-filtering.md
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup-workflow:
    jobs:
      # multiple configs for setup-workflow cause {"message":"Pipeline is not in setup state."} error
      - path-filtering/filter:
          config-path: .circleci/app1.yml
          mapping: |
            app1/.* app1 true
          base-revision: origin/master
      - path-filtering/filter:
          config-path: .circleci/app2.yml
          mapping: |
            app2/.* app2 true
          base-revision: origin/master

Add app1.yml [ci skip]
  .circleci/app1.yml
Due: none

Add app2.yml [ci skip]
  .circleci/app2.yml
Due: none

Update setup-workflow-config.yml
  .circleci/setup-workflow-config.yml
Due: none

Reverting mistaken change [ci skip]
  .circleci/setup-workflow-config.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Update README.md
  app2/README.md
Due: app2

app1.yml [skip ci]
  app1/.circleci/app1.yml
Due: app1

app2.yml [skip ci]
  app2/.circleci/app2.yml
Due: app2

[ci skip]
  .circleci/app1.yml
Due: none

[ci skip]
  .circleci/app2.yml
Due: none

Update README.md
  app1/README.md
Due: app1

Create config.yml
  app1/.circleci/config.yml
Due: app1

Create config.yml
  app2/.circleci/config.yml
Due: app2

random modif [skip ci]
  app2/.circleci/config.yml
Due: app2

Modif for the sake
  app1/.circleci/config.yml
Due: app1
